.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        /* #f9fafb */
    ;
}

.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(47 111 235 / var(--tw-bg-opacity))
        /* #2f6feb */
    ;
}